html,
body {
    margin: 0;
}

body {
    overflow: hidden;
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 20px;
    
}

img {
    max-width: 100;
}

header {
    z-index: 10;
    position: absolute;
    width: 100%;
    padding-top: 5vh;
}

.nav__list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

li {
    list-style: none;
}

button {
    background: rgb(0, 0, 0, .5);
    padding: 1rem;
    outline: none;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 2s ease-in-out;
}

button:hover {
    transform: scale(1.5);
    transition: all 1s ease-in-out;
}

span {
    font-size: 20px;
    color: #A6A6A6;
    transition: all 2s ease-in-out;
    
}

